<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Question</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Stack Overflow</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
      </ul>
    </nav>

    <br />
    <br />
    <section class="container jumbotron  mt-5" id="question-container ">
      <div class="row container mb-3">
        <h2>Top Questions</h2>
      </div>
      <div class="card mt-3">
        <div class="card-body row">
          <div class="col-sm-8 text-left">
            <a class="mt-2" href="#">Question Title Goes Here</a>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-6">
                <span class="font-italic">Votes:</span
                ><span class="badge badge-secondary ml-2">0</span>
              </div>
              <div class="col-sm-6">
                <span class="font-italic">Answered</span
                ><span class="text-success ml-2"
                  ><i class="fas fa-check"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body row">
          <div class="col-sm-8 text-left">
            <a class="mt-2" href="#">Question Title Goes Here</a>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-6">
                <span class="font-italic">Votes:</span
                ><span class="badge badge-secondary ml-2">0</span>
              </div>
              <div class="col-sm-6">
                <span class="font-italic">Answered</span
                ><span class="text-success ml-2"
                  ><i class="fas fa-check"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body row">
          <div class="col-sm-8 text-left">
            <a class="mt-2" href="#">Question Title Goes Here</a>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-6">
                <span class="font-italic">Votes:</span
                ><span class="badge badge-secondary ml-2">0</span>
              </div>
              <div class="col-sm-6">
                <span class="font-italic">Answered</span
                ><span class="text-success ml-2"
                  ><i class="fas fa-check"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
